<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="./stylesheets/reset.css">
  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/index.css">
  <link rel="stylesheet" href="./stylesheets/header.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Sora:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  
  <%- include('./header.ejs')  %> 

  <main>
    <section>
      <% ads.forEach(element => { %>
        <article>
          <% if (element.nombre) {%>
            <h2 class="articleTitle">Artículo: <%= element.nombre  %> </h2>
          <%}%>
          <% if (element.foto) {%>
            <img class="articleImg" src="/images/anuncios/<%= element.foto%>" alt="<%= element.foto%>"></picture>
          <%}%>
          <% if (element.venta) {%>
            <% if (element.venta===true) { %>
              <h4 class="sale">EN VENTA</h4>
            <% } else { %>
              <h4 class="sale">BÚSCO</h4>
            <%}%>
          <%}%>
          <% if (element.tags) {%>
            <p class="tags">TAGS</p>
            <p>
              <% element.tags.forEach(tag => {%>
                <span><%=tag%> ; </span>
              <%})%>
            </p>
          <%}%>
          <% if (element.precio) {%>
            <h3 class="price">PRECIO</h3>
            <p class="priceElement"><%= element.precio %></p>
          <%}%>
          <% if (element._id) {%>
            <p class="infos">Otras Infos</p>
            <p>id:<%= element._id %> ; __v: <%= element.__v %></p>
          <%}%>
        </article>
        <hr/>
      <% }); %>
    </section>
  </main>

  <footer>
    <p>copyrigth y redes sociales</p>
  </footer>
  
</body>
</html>